{% extends 'sns/layout.html' %}

{% block title %}post{% endblock %}

{% block header %}

<h1>post</h1>
<p class = "caption">select group、post message</p>

{% if messages %}
<ul class ="messages">
    {% for message in messages %}
    <li {% if message.tags %} class = "{{message.tags}}"
        {% endif %}>{{message}}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block content %}
<form action = "{% url 'post' %}" method="post">
<form method="post" id="myform" enctype="multipart/form-data">
{% csrf_token %}
<table>
{{form.as_table}}
<tr><td></td><td><button>post!</button></td></tr>
</table>
</form>

{% endblock %}
